{{>layouts/header}}

<form class="container" action="/join" method="post">   <!-- /articles/create" 로 폼 데이터를 보내겠다. -->
    <div class="mb-3">
        <label class="form-label">e-mail</label>
        <input type="email" class="form-control" name="email">  <!-- DTO의 title 필드와 연결 */ -->
    </div>
    <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" name="password"> <!--DTO의 content 필드와 연결  -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/members">Back</a>
</form>

{{>layouts/footer}}